.root {
    -fx-font-family: "Lucida Sans";
}

.spinner {
    -fx-font-size: 16px;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
}

.transparent-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.list-view {
    -fx-focus-traversable: false;
}

.black-card .content {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-prompt-text-fill: darkgray;
}
/*
.white-card .content {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-prompt-text-fill: darkgray;
}*/